.tt{
    color: red;
}
.progress{
    margin-left: 90%;
    
}
.l{
    margin-left: 90%;
    font-size: 15px;
}
.M{
    margin-left: 90%;
}
b{
    color: red;
}
svg{
    color: #21A0F8;
}
.y{
    color: #706d6d;
}

